.heroSection {
  padding: 30px 50px;
  margin-bottom: 30px;
  background: url("../../assets/images/hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media (max-width: 768px) {
    padding: 30px 50px;
    // text-align: center;
  }
  @media (max-width: 576px) {
    padding: 30px 20px;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  &_heading {
    span {
      margin-right: 15px;
    }
  }

  &_link {
    display: flex;
    gap: 20px;
  }
}

.heroFoot {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
 
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
  }
  &_social {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 25px;
    img {
      cursor: pointer;
    }
  }

  &_scroll {
    text-align: center;
    img {
      margin-bottom: 15px;
      cursor: pointer;
    }
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
}
