.contribution {
  padding: 0px 50px;
  margin: 100px 0px 50px 0px;
  @media (max-width: 768px) {
    padding: 0px 50px;
  }
  @media (max-width: 576px) {
    padding: 0px 20px;
  }
  > div:first-child {
    width: 60%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &_verticalView{
    display: grid;
    grid-template-columns: 35% auto;
    grid-gap: 50px;
    @media (max-width: 576px) {
      display: none;
    }
  }
  &_horizonatlView{
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }
}

.contribution_list {
  // border-bottom: 0.8px solid rgba(255, 255, 255, 0.05);
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.contribution_detail {
    margin-top: 20px;
    >div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
          }
    }
}
