.learnPattern {
  background-size: cover;
  margin-right: 250px;
  opacity: 0.7;
  > div {
    padding: 277px 50px 50px 630px;
    p {
      width: 550px;
    }
  }
}

.explorePattern {
  background-size: cover;
  margin-left: 250px;
  opacity: 0.7;
  // background: no-repeat right linear-gradient(#2AD1D1, #009EE1);
  > div {
    padding: 277px 50px 50px 50px;
    p {
      width: 550px;
    }
  }
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1300px) {
  .learnPattern,
  .explorePattern {
    margin: 20px;
    > div {
      padding: 20px;
      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .learnPattern,
  .explorePattern {
    .para {
      display: none;
    }
  }
}
