.team {
  padding: 0px 50px;
  margin: 50px 0px 0px 0px;
  @media (max-width: 768px) {
    padding: 40px 50px;
  }
  @media (max-width: 576px) {
    padding: 40px 20px;
  }
  background: rgba(255, 255, 255, 1);
  color: black;
  &_about {
    align-items: center;
    text-align: center;
    padding: 50px 250px 30px;
    @media (max-width: 1100px) {
      padding: 60px 40px;
    }
    @media (max-width: 576px) {
      padding: 40px 20px;
    }
    &_titles {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 50px;
      padding: 0px 150px;
      @media (max-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 0px;
      }
      @media (max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
       
      }
    }
  }
  &_members {
    padding: 20px;
    box-shadow: 0px 3px 30px 0px rgba(3, 6, 7, 0.1);
    border-radius: 5px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      position: relative;
      > p {
        position: absolute;
        top: 142px;
        background: rgba(0, 0, 0, 0.6);
        padding: 3px 7px;
      }
    }
  }
  &_nav {
    background: #e9f6f7;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30%;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0%;
    }
    > div:first-child {
      display: flex;
      gap: 5px;
      margin: 5px 20px;
      > div {
        height: 12px;
        width: 12px;
        border-radius: 50%;
      }
      
    }
  }
}

#orange {
  background: rgba(224, 137, 74, 1);
}

#yellow {
  background: rgba(233, 225, 40, 1);
}

#green {
  background: rgba(65, 167, 93, 1);
}
